<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful - AmmedSocial</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/server.js"></script>
</head>
<body>
    <div class="navbar">
        <h1 class="nav-title">AmeedSocial</h1>
        <ul class="nav-links">
        </ul>
    </div>
    <div class="main-login">
        <div class="login">
            <div class="login-header">
                <h4 class="windows-header-text">Registration Successful</h4>
            </div>
            <div class="login-content">
                <label>Your account has Successfully been created!</label>
                <br>
                <div id="successfully-created">
                    <button id="go-to-home-page" onclick="navigateToMainPage()">Go to Home Page</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>